spring.application.name=Tr1aL Gainium project
#server.port=80

# Enable H2 console
spring.h2.console.enabled=true
spring.h2.console.path=/h2-console

# Datasource configuration
spring.datasource.url=jdbc:h2:mem:testdb
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=

# Optional: Keep data between restarts
# spring.datasource.url=jdbc:h2:file:./data/testdb
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
#logging.level.root=debug

logging.level.org.tr1al.gainium=DEBUG

gainium.token=1
gainium.secret=1
gainium.orders.limit=10
gainium.paper.context=true
gainium.bot.template=SHORT_TEMPLATE

nats.username=2
nats.password=2
